<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Book your exclusive experience here!</title>
	<meta name="keywords" content="tours around perú, Peru luxury, Travel agency Perú, Peru travels, Tours in Perú, Tours in Cusco, Travel agency Cusco." />
	<meta name="Description" content="Contac this travel agency for more information about tours & experiences around Perú. ✅">
	<meta property="og:url" content="https://andeanexclusive.com/book.html" />
    <meta property="og:title" content="Contact with us for more nformation. Andean Exclusive Tourso">
    <meta property="og:type" content="webside">
    <meta property="og:description" content="Contac this travel agency for more information about tours & experiences around Perú. ✅" />
    <meta property="og:image" content="https://www.andeanexclusive.com/img/book-your-destination-to-peru.jpg" />
	<meta name="author" content="Web Masters DJM2" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5daf152ddf22d91339a0749e/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link"><img src="img/andean-exclusive-logo.png" id="logo"></a>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href="index.html">Home</a></li>
                                    <li class='menu-item'><a href="about.html">About</a></li>
                                    <li class='menu-item'><a href="experiences.html">Experiences</a></li>
                                    <li class='menu-item'><a href='testimonials.html'>Testimonials</a></li>
                                    <li class='menu-item'><a href='#' id="active">Book</a></li>
                                    <li class='menu-item'><a href='contact.html'>Contact</a></li>
                                    <li class='menu-item'><a href='blog.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a>
                                            <button type="button" class="btn botondjm">Language <i class="fa fa-chevron-down"></i></button>
                                        </a>
                                        <ul>
                                            <li><a href="book-español.html">Español</a></li>
                                            <li><a>Ingles</a></li>
                                        </ul>
                                    </li>
                                    <li id="display2" class="menu-has-children">
                                        <a href="#"><img src="img/españa.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#"><img src="img/ingles.png"></a>
                                    </li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid book vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h2> BOOKING</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>
								 <div data-onepage-title="Services" data-onepage-slug="services" class="vc_row wpb_row vc_row-fluid vc_custom_1461248392126">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461227943574">
                                            <div class="wpb_wrapper">
                                                <div class='heading  text-center '>
													<div id="separador"></div>
                                                    <h3>Find experiences</h3>
													<div id="separadordjm"></div>
                                                    </div>
                                                </div>
											<div class="text-center"><p>Ready to go? Please select on Experiences Below to start with your Booking.</p>
											</div>
											<div id="separador"></div>
											<div class="row text-center">
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Lima</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Cusco</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Arequipa</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Puno</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Trujillo</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Puerto Maldonado</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Manu</a>
												</div>
												<div class="col-lg-3">	
													<a href='#' class='button' id="botondjm4">Ica</a>
												</div>
											</div>
											<div id="separador"></div>
                                        </div>
									 <div class="row text-center">
										 <div class="col-lg-12">
											 <p>Note: In order to Confirm your service, we will request Deposit and Personal Information. One of our travel experts will be happy to help you to book your next adventure! If you are looking after and different experience we can also create a unique, custom-designed independent itinerary that is fully adapted to your needs, whether you travel alone, with family and friends, or as a group. Please click here  let us know what you are interested in adding or excluding to customize a selected itinerary or to design a completely new program just for you. A travel expert will contact you within a maximum of two working days.
											 </p>
										 </div>
										 <div class="col-lg-2"></div>
										 <div class="col-lg-8">
											  <!-----Booking---------->
						<div class="form text-center">
						<h4 style="padding-top: 13px">Request Booking</h4>
						<form action="form1.php" method="post" role="form" class="book1"	>
						<div class="form-row"><br>
                            <div class="form-group col-lg-12">
								<span class="form-label">Name:</span>
                              <input type="text" name="nombre" required class="form-control" placeholder="Required*" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            </div>
                             <div class="form-group col-lg-12">
								 <span class="form-label">E-Mail:</span>
                               <input type="email" class="form-control" required name="email" id="email" placeholder="Required*" data-rule="email" data-msg="Please enter a valid email" />
                               <div class="validation"></div>
                             </div>
                           </div>
                           <div class="form-group messagedjm">
							   <span class="form-label">Send us a message:</span>
                             <textarea class="form-control" name="mensaje" id="mensaje" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                             <div class="validation"></div>
                           </div>
                           <input id="botondjm2" type="submit" name="submit" value="Send" /> <br><br>
                         </form>
                       </div>
										 </div>
										 <div class="col-lg-2"></div>
									 </div>
                                    </div>
                                </div>
								<div class="vc_row-full-width vc_clearfix"></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>            
        </section>
        <footer id="footer">
            <div class="container footer-container">
                <div class="row text-center">

                    <div class='col-sm-6 col-md-4'>
                        <div id="recent-posts-3" class="footer_widget widget widget_recent_entries">
                            <h5 class="widget-title">Query</h5>
                            <div id="separadordjm2"></div>
                            <ul>
                                <li><a href="terms-conditions-aet.html">Terms & Conditions</a></li>
                                <li><a href="payments.html">Payment Options</a></li>
                                <li><a href="faqs.html">FAQS</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class='col-sm-6 col-md-4 footer-column-4'>
                        <div id="text-3" class="footer_widget widget widget_text">
                            <h5 class="widget-title">Contact</h5>
                            <div id="separadordjm2"></div>
                            <div class="textwidget"><i class="fa fa-envelope"></i> operaciones@andeanexclusivetours.com
                                <br>
                                <i class="fa fa-mobile"></i> +51 979 721 194
                                <br>
                                <i class="fa fa-phone"></i> +51 084 242791
                                <br>
                                <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6 col-md-4 footer-column-4'>
                        <div id="search-4" class="footer_widget widget widget_search">
                            <h5 class="widget-title">Get in Touch</h5>
                            <div id="separadordjm2"></div>
                        </div>
                        <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                            <div class="social-links">
                                <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                                <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                                <a href="shorturl.at/kltR1" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                                <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                                <a href="https://www.pinterest.com/andeanexcsive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="widget">
                                    <p>Copyright 2019 &copy; Andean Exclusive Tours | All Rights Reserved.</p>
                                    <p>Designed by <a href="djm2.net" id="afoot" target="_blank">DJM2<img id="logodjm" src="img/logodjm.png"></a></a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </footer>
        <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
        <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
        <script type='text/javascript' src='js/scripts.js'></script>

</body>

</html>