<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Contact with us for more information. Andean Exclusive Tours ✅</title>
	<meta name="keywords" content="tours around perú, Peru luxury, Travel agency Perú, Peru travels, Tours in Perú, Tours in Cusco, Travel agency Cusco." />
	<meta name="Description" content="Contact this travel agency for more information about tours & experiences around Perú. ✅">
	<meta property="og:url" content="https://andeanexclusive.com/contact.html" />
    <meta property="og:title" content="Contact with us for more information. Andean Exclusive Tours">
    <meta property="og:type" content="webside">
    <meta property="og:description" content="Contac with Andean Exclusive for more information about tours & experiences around Perú. ✅" />
    <meta property="og:image" content="https://www.andeanexclusive.com/img/contact-andean.jpg" />
	<meta name="author" content="Web Masters DJM2" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
	<link rel="stylesheet" href="css/wasa.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
	<!--Boton chat de wasa-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<a href="https://bit.ly/3kYXpXr" class="float" target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>
    <!--End Boton wasa-->
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link"><div class="logo2"></div>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href='index.html'>Home</a></li>
                                    <li class='menu-item'><a href="about.html" >About</a></li>          
                                    <li class='menu-item'><a href="experiences.html">Experiences</a></li>
                                    <li class='menu-item'><a href='testimonials.html'>Testimonials</a></li>
                                    <li class='menu-item'><a href='#' id="active">Contact</a></li>
									<li class='menu-item'><a href='blog.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a><button type="button" class="btn botondjm">Language <i class="fa fa-chevron-down"></i></button> </a>
                                        <ul>
                                            <li><a href="contacto.html">Español</a></li>
                                            <li><a>Ingles</a></li>
                                        </ul>
                                    </li>
									<li id="wasanum" class='menu-item' ><a href='https://bit.ly/3kYXpXr' target="_blank">+51 979 721 194</a></li>
                                    <li id="display2" class="menu-has-children">
                                        <a><img src="img/españa.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="contacto.html"><img src="img/ingles.png"></a></li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid contact vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h1>CONTACT US</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>
                            </div>							
                        </article>
                    </div>
                </div>
            </div>
			<div class="row" style="background: #e8e8e8">								
				<div class="col-lg-2"></div>								
				<div class="col-lg-8">									
					<div id="separador"></div>									
					<div id="separador"></div>									
					<div class='heading  text-center '>                                                    
						<h3>How to find us</h3>                                                    
						<div class='seperator' style=''></div>                                                    
						<div class='desc'>                                                        
							<p>Our agency is located in the navel of the world. It is the center of tourism in our country. <br> which facilitates how to locate us.
						</div>
					</div>
					<div id="separador"></div>
					<!-----Booking----------> 
					<div class="form text-center">
						<h4 style="padding-top: 13px">Request Booking</h4>
						<form action="form1.php" method="post" role="form" class="book1">
							<div class="form-row">
								<br>
								<div class="form-group col-lg-12">
									<span class="form-label">Name:</span>
									<input type="text" name="nombre" required class="form-control" placeholder="Required*" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								</div>
								<div class="form-group col-lg-12">
									<span class="form-label">E-Mail:</span>
									<input type="email" class="form-control" required name="email" id="email" placeholder="Required*" data-rule="email" data-msg="Please enter a valid email" />
									<div class="validation"></div>
								</div>
								<div class="form-group col-lg-12">
									<span class="form-label">Send us a message:</span>
									<textarea class="form-control" name="mensaje" id="mensaje" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
									<div class="validation"></div>
								</div>
								<input id="botondjm2" type="submit" name="submit" value="Send" />
								<br><br>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
				<div style="background: #e8e8e8">
					<div class="col-lg-12">									
					<div id="separador"></div>									
					<div id="separador"></div>									
					<div class='heading  text-center '>                                                    
						<p style="font-weight: 600">Find us on your favorite social network</p>                                                    
						<div class='seperator' style=''></div>  
					</div>
					<div id="separador"></div>
					<!-----Botones Redes----------> 
					<div class="form text-center">
							<div class="form-row">
								<br>
								<div class="form-group col-lg-3">
									<button id="faceb"><a id="fbfont" href="https://www.facebook.com/AndeanExclusiveTours" target="_blank">FaceBook</a></button>
								</div>
								<div class="form-group col-lg-3">
									<button id="insb"><a id="insfont" href="https://www.instagram.com/andean.exclusive/" target="_blank">Instagram</a></button>
								</div>
								<div class="form-group col-lg-3">
									<button id="twib"><a id="twifont" href="https://twitter.com/ReservasAndean" target="_blank">Twitter</a></button>
								</div>
								<div class="form-group col-lg-3">
									<button id="pinb"><a id="pinfont" href="https://www.pinterest.com/andeanexclusive" target="_blank">Pinterest</a></button>
								</div>
							</div>
					</div><br><br><br><br><br><br><br><br><br>
					
					<div class="col-lg-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.3891728883436!2d-71.9680674857637!3d-13.511692174552453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd74fe52f9c71%3A0x502692709a3c7356!2sAndean%20Exclusive%20Tours!5e0!3m2!1ses!2spe!4v1575477011480!5m2!1ses!2spe" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
			
				</section>
			</div> 
			</div>
			<footer id="footer">
				<div class="container footer-container">
					<div class="row text-center">
						<div class='col-sm-6 col-md-4'>
							<div id="recent-posts-3" class="footer_widget widget widget_recent_entries">  
								<h5 class="widget-title">Query</h5>	
								<div id="separadordjm2"></div>
								<ul>
									<li><a href="terms-conditions-aet.html">Terms & Conditions</a></li>
									<li><a href="payments.html">Payment Options</a></li>
									<li><a href="faqs.html">FAQS</a></li>
								</ul>
							</div>
						</div>
						<div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="text-3" class="footer_widget widget widget_text">
                        <h5 class="widget-title">Contact</h5>
                        <div id="separadordjm2"></div>
                        <div class="textwidget">
							<i class="fa fa-envelope"></i><a style="color: rgba(248, 248, 248, 0.5)" href="mailto:operaciones@andeanexclusive.com"> operaciones@andeanexclusive.com</a>
                            <br>
                            <i class="fa fa-mobile"></i> <a href='https://bit.ly/3kYXpXr' target="_blank" style="color: rgba(248, 248, 248, 0.5)">+51 979 721 194</a> 
                            <br>
                            <i class="fa fa-phone"></i> +51 084 242791
                            <br>
                            <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                        </div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="search-4" class="footer_widget widget widget_search">
                        <h5 class="widget-title">Get in Touch</h5>
                        <div id="separadordjm2"></div>
                    </div>
                    <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                        <div class="social-links">
                            <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                            <a href="https://n9.cl/cjx4" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                            <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://www.pinterest.com/andeanexclusive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="widget">
                                <p>Copyright 2019 &copy; Andean Exclusive Tours | All Rights Reserved | Designed by <a href="https://www.facebook.com/DjmWebMaster" id="afoot" target="_blank">DJM2</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>        
</footer>
            <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
            <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
            <script type='text/javascript' src='js/scripts.js'></script>

</body>

</html>