<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Métodos de Pago - Andean Exclusive Tours</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
	<link rel="stylesheet" href="css/wasa.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
	<!--Boton chat de wasa-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<a href="https://bit.ly/3kYXpXr" class="float" target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>
    <!--End Boton wasa-->
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link">
                                    <div class="logo2"></div>
                                </a>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href="index-español.html">Inicio</a></li>
                                    <li class='menu-item'><a href="nosotros.html">Nosotros</a></li>
                                    <li class='menu-item'><a href="experiencias.html">Experiencias</a></li>
                                    <li class='menu-item'><a href='testimonios.html'>Testimonios</a></li>
                                    <li class='menu-item'><a href='book-español.html'>Book</a></li>
                                    <li class='menu-item'><a href='contacto.html'>Contacto</a></li>
                                    <li class='menu-item'><a href='blog-español.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a>
                                            <button type="button" class="btn botondjm">Idioma <i class="fa fa-chevron-down"></i></button>
                                        </a>
                                        <ul>
                                            <li><a>Español</a></li>
                                            <li><a href="payments.html">Ingles</a></li>
                                        </ul>
                                    </li>
                                    <li id="display2" class="menu-has-children">
                                        <a href="#"><img src="img/españa.png" alt="Idioma Tarvel Agency"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="payments.html"><img src="img/ingles.png" alt="english Travel Agency"></a>
                                    </li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid pagos vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h1>MÉTODOS DE PAGO</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>                              
                                <div class="row">
									<div id="separador"></div>
									<h2 class="text-center">MPETODOS DE PAGO</h2>
									<div id="separadordjm"></div>
									<div id="separador"></div>
									<div class="col-l- 1"></div>
									<div class="col-lg-10" style="text-align: justify">
									    <h4>Para reservar tu experiencia en Perú</h4>
										<p>Para reservar su experiencia, solicitamos: Depósito e información personal. El formulario de reserva se proporcionará por correo electrónico.
										</p><br>
									    <h4>Depósito</h4>
										<p>Para los servicios regulares hay un depósito, que se utiliza para asegurar su salida, así como también para comprar permisos y boletos de entrada, para asegurar lugares y hacer reservas. (El monto del depósito puede variar según el servicio). El depósito se puede realizar a través de <strong> Pago en línea, Western Union, PayPal, Transferencia bancaria internacional o Efectivo. </strong></p> <br>
										<h4> Pago en línea </h4>
										<p> La opción de pago en línea se utiliza automáticamente para el depósito y el pago final. En cada servicio turístico existe la posibilidad de pagar en línea en nuestra página web. Puede usar cualquier tipo de tarjeta de crédito y débito. El pago a través de nuestra página web tiene una tarifa del 4.5%, y la transacción está 100% segura. Nuestra página web tiene un 4,5% sobre el precio establecido, ya que <strong> no hay pagos en línea seguros en Perú, </strong> trabajamos con una empresa de los EE. UU. Que nos ayuda a realizar transacciones seguras para proteger su información y su información. bolsillo.</p> <br>
										<h4> Detalles de Western Union </h4>
										<p> La opción Western Union se puede usar tanto para Depósito como para Pago final. También puede hacerlo en línea en la página web de Western Union con su tarjeta:
											<ul>
												<li>Nombre: Carmen </li>	
												<li>Apellido: Espejo Miranda (Ambos apellidos son requeridos)</li>
												<li>Dirección: Balconcillo Mz C. Lote 6</li>
												<li>País: PERU</li>
												<li>Ciudad: Cusco</li>	
										</ul>
										A veces lleva más de un día; háganos saber el día exacto en que podremos recoger el dinero en el destino final. Necesitamos el número de MTCN proporcionado por Western Union para recaudar el dinero. Asesoramiento por correo electrónico del número de referencia obtenido de Western Union (MTCN) para recaudar el dinero y obtener los permisos, sin el código no podremos cobrar el dinero. Si el depósito es superior a US $ 1800.00, no pasará, debe realizar 2 depósitos. Si se selecciona esta opción para el Pago final, la transacción debe realizarse un mes antes del servicio. <strong> Asegúrese de que el depósito se realice en USD $.</strong>
										</p><br>
									<h4>Detalles Paypal</h4>
									<p>La opción de PayPal se puede utilizar tanto para el depósito como para el pago final. PayPal nos cobra un 6% por transacción, y exigimos a nuestros clientes que cubran el 6%, esto significa que, si necesita pagar un depósito de US $ 300.00, debe transferir US $ 318.00, si está transfiriendo para 2 personas (US $ 600.00) tiene que transferir US $ 636.00. <br>
										Dirección de correo electrónico de PayPal: andeanexlclusivetours @ gmail, .com <br>
										Después de enviar el pago, envíenos el correo electrónico que PayPal le envió para confirmar la transacción. Si se selecciona esta opción para el Pago final, la transacción debe realizarse un mes antes del servicio. <br>
									<strong>Asegúrese de que el depósito se realice en USD $. </strong> </p>
									<h4> Transferencia bancaria internacional </h4>
									<p> Esta opción se puede usar tanto para Depósito como para Pago final. La información bancaria se dará por correo electrónico. Todas las tarifas bancarias internacionales deberán ser pagadas por el participante; de lo contrario, esa tarifa se agregará al Saldo final que se pagará en la ciudad de Cusco. Si se selecciona esta opción para el Pago final, la transacción debe realizarse un mes antes del servicio. <br> <strong> Asegúrese de que el depósito se realice en USD $. </strong> </p> <br>
									<h4> Efectivo </h4>
									<p> Si ya está aquí, previa coordinación, un representante puede visitarlo en su alojamiento y cobrar el dinero. Tenga en cuenta que no podemos tomar facturas rotas ya que los bancos no las aceptan. </p> <br>
									<h4> Información adicional</h4>
									<p>
										<ul>
											<li> Asegúrese de leer nuestros Términos y condiciones. </li>
											<li> Tan pronto como podamos confirmar el depósito y la información personal, procederemos con los permisos, tarifas de entrada y boletos; y enviará una confirmación por correo electrónico. </li>
											<li> Si el depósito recibido es inferior al monto requerido, el resto se cargará al monto final que se pagará en Cusco. </li>
											<li> El pago final debe hacerse antes del servicio, podría ser antes o en la fecha de llegada. </li>
											<li> Si necesita más detalles, ¡no dude en contactarnos! </li>
									</ul>
									</p>
									</div>								  
									<div class="col-lg-1"></div>
								</div>
								<div id="separador"></div>

                            </div>
                        </article>

                    </div>

                </div>
            </div>
        </section>
	<footer id="footer">
            <div class="container footer-container">
                <div class="row text-center">

                    <div class='col-sm-6 col-md-4'>
                        <div id="recent-posts-3" class="footer_widget widget widget_recent_entries">
                            <h5 class="widget-title">Consulta</h5>
                            <div id="separadordjm2"></div>
                            <ul>
                                <li><a href="terminos-y-condiciones.html">Términos & Condiciones</a></li>
                                <li><a href="#">Opciones de Pago</a></li>
                                <li><a href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                            </ul>
                        </div>
                    </div>
					<div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="text-3" class="footer_widget widget widget_text">
                        <h5 class="widget-title">Contacto</h5>
                        <div id="separadordjm2"></div>
                        <div class="textwidget">
							<i class="fa fa-envelope"></i><a style="color: rgba(248, 248, 248, 0.5)" href="mailto:operaciones@andeanexclusive.com"> operaciones@andeanexclusive.com</a>
                            <br>
                            <i class="fa fa-mobile"></i> <a href='https://bit.ly/3kYXpXr' target="_blank" style="color: rgba(248, 248, 248, 0.5)">+51 979 721 194</a>
                            <br>
                            <i class="fa fa-phone"></i> +51 084 242791
                            <br>
                            <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                        </div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="search-4" class="footer_widget widget widget_search">
                        <h5 class="widget-title">Estar en contacto</h5>
                        <div id="separadordjm2"></div>
                    </div>
                    <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                        <div class="social-links">
                            <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                            <a href="https://n9.cl/cjx4" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                            <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://www.pinterest.com/andeanexcsive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="widget">
                                <p>Copyright 2019 &copy; Andean Exclusive Tours | Todos los derechos reservados | Diseñado por <a href="https://www.facebook.com/DjmWebMaster" id="afoot" target="_blank">DJM2</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
            <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
            <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
            <script type='text/javascript' src='js/scripts.js'></script>

</body>

</html>