<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Payment Conditions</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
	<link rel="stylesheet" href="css/wasa.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
	 <!--Boton chat de wasa-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<a href="https://bit.ly/3kYXpXr" class="float" target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>
    <!--End Boton wasa-->
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link">
                                    <div class="logo2"></div>
                                </a>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href="index.html">Home</a></li>
                                    <li class='menu-item'><a href="about.html">About</a></li>
                                    <li class='menu-item'><a href="experiences.html">Experiences</a></li>
                                    <li class='menu-item'><a href='testimonials.html'>Testimonials</a></li>
                                    <li class='menu-item'><a href='contact.html'>Contact</a></li>
									<li class='menu-item'><a href='blog.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a><button type="button" class="btn botondjm">Language <i class="fa fa-chevron-down"></i></button> </a>
                                        <ul>
                                            <li><a href="terminos-aet.html">Español</a></li>
                                            <li><a href="metodos-de-pago.html">Ingles</a></li>
                                        </ul>
                                    </li>
									<li id="wasanum" class='menu-item'><a href='https://bit.ly/3kYXpXr' target="_blank">+51 979 721 194</a></li>
                                    <li id="display2" class="menu-has-children"><a href="#"><img src="img/españa.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="img/ingles.png"></a></li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid pagos vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h2>PAYMENT OPTIONS</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>                              
                                <div class="row">
									<div id="separador"></div>
									<h2 class="text-center">PAYMENTS OPTIONS</h2>
									<div id="separadordjm"></div>
									<div id="separador"></div>
									<div class="col-l- 1"></div>
									<div class="col-lg-10" style="text-align: justify">
									    <h4>To book your Perú experience</h4>
										<p>To book your experience we request: Deposit and Personal Information. Booking Form will be provided via Email.
										</p><br>
									    <h4>Deposit</h4>
										<p>For regular services there is a deposit, used to secure your departure, as well as purchase permits and entrance tickets, to secure spots and make reservations.  (Deposit amount might vary according to service). Deposit can be done through <strong>Online Payment, Western Union, PayPal, International Bank Transfer or Cash.</strong> 
										</p><br>
										<h4>Online Payment</h4>
										<p>Online Payment option is automatically used for both Deposit and Final Payment. On each tour service there is the possibility to pay online in our webpage. You can use any type of credit and debit cards. Payment via our webpage has a 4.5% fee, and transaction is 100% secured. Our webpage has a 4.5% over the stated price, since <strong> there aren’t safe online payments in Peru,</strong> we work with a company from the US that helps us making safe transactions in order secure  your information and your pocket. 
										</p><br>
										<h4>Western Union details</h4>
										<p>Western Union option can be used for both Deposit and Final Payment. You can also do it online at Western Union webpage using your card:
											<ul>
												<li>Name: Carmen </li>	
												<li>Last name: Espejo Miranda (Both last names required)</li>
												<li>Address: Balconcillo Mz C. Lote 6</li>
												<li>Country : PERU</li>
												<li>City: Cusco</li>	
										</ul>
										Sometimes it takes more than a day; please let us know the exact day we will be able to collect the money in final destination.  We need the MTCN number provide by Western Union in order to Collect the money. Advice via email the reference number got from Western Union (MTCN) in order to collect the money and get the permits, without the code we won’t be able to collect the money. If deposit is more than US$1800.00 it won’t go through you have to make 2 deposits. If this option is selected for Final Payment, transaction has to be done a month before the service.<strong> Make sure the deposit is made in USD$.</strong>
										</p><br>
									<h4>Paypal Details</h4>
									<p>PayPal option can be used for both Deposit and Final Payment. PayPal charges us 6% per transaction, and we require our clients to cover the 6%, this means, if you need to pay US$300.00 deposit, you have to transfer US$318.00, if you are transferring for 2 people (US$600.00) you have to transfer US$636.00. <br>
									PayPal email address: andeanexlclusivetours@gmail,.com <br>
									After Payment is sent please send us the email that PayPal sent you to confirm the transaction. If this option is selected for Final Payment, transaction has to be done a month before the service. <br>
									<strong>Make sure the deposit is made in USD$.</strong></p>
									<h4>International Bank Transfer</h4>
									<p>This option can be used for both Deposit and Final Payment. Bank information will be given by email.  All international bank fees will have to be paid by the participant; otherwise that fee will be added to the Final Balance to be paid at Cusco City. If this option is selected for Final Payment, transaction has to be done a month before the service. <br>
										<strong>Make sure the deposit is made in USD$.</strong></p><br>
									<h4>Cash</h4>
									<p>If you are already here, previous coordination, a representative can visit you at your accommodation and collect the money. Please consider we cannot take ripped bills since banks don’t take them. </p><br>
									<h4>Additional Information</h4>
									<p>
										<ul>
											<li>Make sure you read our Terms and Conditions.</li>
											<li>As soon as we are able to confirm the deposit and personal information we will proceed to with permits, entrance fees and tickets; and will send confirmation via email.</li>
											<li>If the deposit received is less than the required amount, the remaining will be charged to the final amount to be paid at Cusco.</li>
											<li>Final payment has to be done before the service, it could be before or on the arrival date.</li>
											<li>If you need more details, do not hesitate to contact us! </li>
									</ul>
									</p>
									</div>								  
									<div class="col-lg-1"></div>
								</div>
								<div id="separador"></div>

                            </div>
                        </article>

                    </div>

                </div>
            </div>
        </section>
<footer id="footer">
    <div class="container footer-container">
        <div class="row text-center">
		
             <div class='col-sm-6 col-md-4'>
                 <div id="recent-posts-3" class="footer_widget widget widget_recent_entries">   
                    <h5 class="widget-title">Query</h5>					 
						<div id="separadordjm2"></div>
                    <ul>
						<li><a href="terms-conditions-aet.html">Terms & Conditions</a></li>
						<li><a href="#">Payment Options</a></li>
						<li><a href="faqs.html">FAQS</a></li>
                    </ul>
                </div>
            </div>
			<div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="text-3" class="footer_widget widget widget_text">
                        <h5 class="widget-title">Contact</h5>
                        <div id="separadordjm2"></div>
                        <div class="textwidget">
							<i class="fa fa-envelope"></i><a style="color: rgba(248, 248, 248, 0.5)" href="mailto:operaciones@andeanexclusive.com"> operaciones@andeanexclusive.com</a>
                            <br>
                            <i class="fa fa-mobile"></i> <a href='https://bit.ly/3kYXpXr' target="_blank" style="color: rgba(248, 248, 248, 0.5)">+51 979 721 194</a> 
                            <br>
                            <i class="fa fa-phone"></i> +51 084 242791
                            <br>
                            <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                        </div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="search-4" class="footer_widget widget widget_search">
                        <h5 class="widget-title">Get in Touch</h5>
                        <div id="separadordjm2"></div>
                    </div>
                    <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                        <div class="social-links">
                            <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                            <a href="https://n9.cl/cjx4" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                            <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://www.pinterest.com/andeanexclusive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="widget">
                                <p>Copyright 2019 &copy; Andean Exclusive Tours | All Rights Reserved | Designed by <a href="https://www.facebook.com/DjmWebMaster" id="afoot" target="_blank">DJM2</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</footer>
            <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
            <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
            <script type='text/javascript' src='js/scripts.js'></script>

</body>

</html>