<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Preguntas frecuentes y Consultas</title>
    <meta name="keywords" content="faqs, preguntas frecuentes, consulta, consultas, informacion turistica, preguntas peru" />
    <meta property="og:description" content="Encuentre acá las respuestas a las preguntas más frecuentes sobre todo lo necesario para viajar a Perú." />
    <meta property="og:url" content="https://andeanexclusive.com/preguntas-frecuentes.html">
    <meta property="og:title" content="Tours en Perú">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://www.andeanexclusive.com/img/faqs.JPG" />
    <meta name="author" content="Web Masters DJM2" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link">
                                    <div class="logo2"></div>
                                </a>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href="es/index-español.php">Inicio</a></li>
                                    <li class='menu-item'><a href="experiencias.html">Populares</a></li>
                                    <li class='menu-item'><a href="alrededor-de-peru.php">Tours por Perú</a></li>
                                    <li class='menu-item'><a href='caminatas-peru.php'>Caminatas</a></li>
                                    <li class='menu-item'><a href='blog-español.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a>
                                            <button type="button" class="botondjm">Idioma <i class="fa fa-chevron-down"></i></button>
                                        </a>
                                        <ul>
                                            <li><a>Español</a></li>
                                            <li><a href="faqs.html">Ingles</a></li>
                                        </ul>
                                    </li>
									<li id="wasanum" class='menu-item'><a href='https://bit.ly/3kYXpXr' target="_blank">+51 979 721 194</a></li>
                                    <li id="display2" class="menu-has-children">
                                        <a href="#"><img src="img/españa.png" alt="Idioma Tarvel Agency"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="faqs.html"><img src="img/ingles.png" alt="english Travel Agency"></a>
                                    </li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid faqs vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h2>PREGUNTAS FRECUENTES</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>
                                <div id="separador"></div>
                                <div id="separador"></div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1 class="text-center">Preguntas Frecuentes & Consultas </h1>
                                        <div id="separadordjm"></div>
                                    </div>
                                    <div id="separador"></div>
                                    <div class="col-lg-12">
                                        <!--Accordion wrapper-->
                                        <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true" aria-controls="collapse96">         <br>
															¿Necesito una visa para visitar Perú? 
														</a>      
													</h5>
                                                </div>
                                                <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>Los ciudadanos de la mayoría de los países de América y Europa occidental no necesitan visa para ingresar al Perú. Los ciudadanos de Bolivia, Ecuador y Chile no requieren pasaportes o visas para visitar ciertas regiones del Perú. Póngase en contacto con el representante diplomático peruano en su país para obtener más información. Las direcciones y los números de teléfono están incluidos en el sitio web del Ministerio de Relaciones Exteriores del Perú: <strong> www.rree.gob.pe </strong> Si el propósito de su visita es el turismo, la duración máxima de su estadía será de 90 días ( puede solicitar extensiones con la autoridad de inmigración). Todos los viajeros deben llevar un pasaporte válido o una conducta segura emitida por la autoridad de inmigración peruana.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97">
														<br>
															¿Es seguro viajar en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>La realidad muestra que es muy seguro. Es posible que haya leído o escuchado en la televisión, sitios web o periódicos sobre terrorismo, delincuencia e inestabilidad económica y política. Pero la verdad es que el terrorismo ha sido derrotado hace mucho tiempo; Los peruanos viven en paz y trabajan muy duro todos los días para construir una sociedad democrática y segura. Podemos asegurar a los visitantes que todo lo que deben hacer es seguir las precauciones normales tomadas para visitar otros destinos. </p>
                                                            
                                                                <h4> Al visitar las ciudades: </h4>
                                                                <p>
                                                                
                                                                    <ul>
                                                                    
                                                                        <li> Tome las precauciones lógicas para evitar carteristas y ladrones de bolsos. </li>
                                                                    
                                                                        <li> Lleve una copia de sus documentos de identificación. Guarde los originales y el resto de los efectos personales valiosos en la caja de seguridad de su hotel. </li>
                                                                    
                                                                        <li> Use artículos valiosos discretamente; no lleve grandes sumas de dinero en efectivo y vigile sus maletas y equipaje. </li>
                                                                    
                                                                        <li> Abstenerse de intercambiar divisas en la calle. </li>
                                                                    
                                                                        <li> Es aconsejable utilizar las compañías de taxis para el transporte (se pueden solicitar por teléfono) o los taxis autorizados por las autoridades municipales (por ejemplo, están pintados de amarillo y llevan un letrero de identificación brillante en el techo). </li>
                                                                    </ul>
                                                                </p>
                                                                <h4> Al visitar las ciudades: </h4>
                                                                <p>
                                                                
                                                                    <ul>
                                                                    
                                                                        <li> Siempre lleve su licencia de conducir, una copia de su pasaporte y el contrato de alquiler si conduce un automóvil alquilado. Las licencias de conducir internacionales son válidas por un año, mientras que las licencias de conducir de otros países son válidas por 30 días. </li>
                                                                    
                                                                        <li> Si un oficial de tránsito le indica que pare, debe detenerse. Los oficiales de tránsito deben llevar uniforme y llevar una identificación (se les exige que usen tarjetas de identificación que incluyan su apellido en el pecho). No se les permite ingresar al vehículo. </li>
                                                                    
                                                                        <li> Tenga en cuenta que los oficiales de tránsito no pueden retener ningún documento personal o del vehículo. Bajo ninguna circunstancia debe ofrecer o aceptar pagar dinero a los agentes de tránsito. </li>
                                                                    
                                                                        <li> En caso de accidente o colisión, llame a un oficial de tránsito. Si su auto es de alquiler, llame al representante de la compañía de seguros provisto por la agencia de alquiler. No abandones la escena del accidente. Mantenga las ventanas cerradas y las puertas cerradas. </li>
                                                                        </ul>
                                                                    </p>
                                                            
                                                                <h4> Prohibiciones </h4>
                                                                <p> Está prohibido tomar fotografías de aeropuertos, bases militares, estaciones de policía y áreas que rodean torres de alto voltaje. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98" aria-expanded="false" aria-controls="collapse98">
															<br>
															¿Hay servicios para turistas con necesidades especiales en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>En Perú creemos en la idea de "Turismo para todos". Es por eso que muchas organizaciones públicas y privadas han estado trabajando durante años para garantizar que sus servicios sean igualmente accesibles para personas con capacidades diferentes. Le recomendamos que se comunique con su proveedor de servicios con anticipación para garantizar que se satisfagan sus necesidades de accesibilidad.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse001" aria-expanded="false" aria-controls="collapse98">
															<br>
															¿A qué distancia está Perú de mi casa?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse001" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>Para proporcionarle referencias útiles, hemos creado una tabla que incluye los tiempos de vuelo aproximados de llegada.</p>
                                                                <table class="table table-bordered">
                                                                    <thead style="background: #676767; color: #fff">
                                                                        <tr>
                                                                            <th>País</th>
                                                                            <th>Ciudad</th>
                                                                            <th>Tiempo Aprox. de vuelo</th>
                                                                        </tr>
                                                                    </thead>
																	<body>
                                                                        <tr>
																			<td> Estados Unidos </td>
																			<td> Dallas </td>
																			<td> 7 horas 12 minutos </td>
																		</tr>
																		<tr>
																			<td> Estados Unidos </td>
																			<td> Houston </td>
																			<td> 6 horas 45 minutos </td>
																		</tr>
																		<tr>
																			<td> Estados Unidos </td>
																			<td> Los Angeles </td>
																			<td> 8 horas 35 minutos </td>
																		</tr>
                                                                        <tr>
																			<td> Estados Unidos </td>
																			<td> Miami </td>
																			<td> 5 horas 45 minutos </td>
																		</tr>
                                                                        <tr>
																			<td> Estados Unidos </td>
																			<td> Atlanta </td>
																			<td> 7 horas </td>
                                                                            </tr>
                                                                        <tr>
																			<td> Argentina </td>
																			<td> Buenos Aires </td>
																			<td> 4 horas 15 minutos </td>
                                                                            </tr>
                                                                        <tr>
																			<td> Chile </td>
																			<td> Santiago </td>
																			<td> 3 horas 25 minutos </td>
                                                                            </tr>
                                                                        <tr>
																			<td> España </td>
																			<td> Madrid </td>
																			<td> 11 horas 30 minutos </td>
                                                                            </tr>
                                                                        </tbody>
                                                                </table>
                                                                <h4>Flights with stopovers </h4>
                                                                <table class="table table-bordered">
                                                                    <thead style="background: #676767; color: #fff">
                                                                        <tr>
                                                                            <th>País</th>
                                                                            <th>Ciudad</th>
                                                                            <th>Tiempo Aprox. de Vuelo</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td> Estados Unidos </td>
                                                                            <td> Nueva York </td>
                                                                            <td> 8 horas 35 minutos / vía San José </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Estados Unidos </td>
                                                                            <td> San Francisco </td>
                                                                            <td> 10 horas / vía Los Angeles </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Estados Unidos </td>
                                                                            <td> Washinton </td>
                                                                            <td> 9 horas / vía Newark </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Alemania </td>
                                                                            <td> Dusseldorf </td>
                                                                            <td> 18 horas 40 minutos / vía Madrid </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Alemania </td>
                                                                            <td> Frankfurt </td>
                                                                            <td> 15 horas 30 minutos / vía Madrid </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Francia </td>
                                                                            <td> París </td>
                                                                            <td> 14 horas 50 minutos / vía Miami </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Italia </td>
                                                                            <td> Milán </td>
                                                                            <td> 14 horas 50 minutos / vía Madrid </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Italia </td>
                                                                            <td> Roma </td>
                                                                            <td> 15 horas 10 minutos / vía Madrid </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Reino Unido </td>
                                                                            <td> Londres </td>
                                                                            <td> 15 horas 10 minutos / vía Madrid </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> Japón </td>
                                                                            <td> Tokio </td>
                                                                            <td> 20 horas 35 minutos / vía Los Angeles </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading10">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="headin10">
															<br>
															¿Hay servicios para turistas con necesidades especiales en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>Esta respuesta depende de sus preferencias personales y del nivel de comodidad que desee. El trueque es generalmente aceptado en Perú, con la excepción de tiendas y restaurantes más grandes. En las ciudades más grandes, los precios en general pueden ser más altos, particularmente en Lima, y pueden aumentar durante las festividades como las Fiestas Nacionales (julio), Pascua (abril) o Navidad debido a la mayor demanda de servicios como el transporte en autobús y aéreo. A continuación se muestra una lista de precios de productos y servicios que puede utilizar como referencia para preparar un presupuesto de viaje.
                                                                </p>
                                                                <table class="table table-bordered">
                                                                    <thead style="background: #676767; color: #fff">
                                                                        <tr>
                                                                            <th>Reference product or service</th>
                                                                            <th>US Dollars</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Mineral water bottle 1.5 Lt (51 fl. oz.)</td>
                                                                            <td>1.40</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Medium soda pop 0.50</td>
                                                                            <td>0.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Burger </td>
                                                                            <td>1.40</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Apple </td>
                                                                            <td>0.30</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Shampoo bottle </td>
                                                                            <td>4.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Tooth paste </td>
                                                                            <td>1.40</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Lunch (frugal)</td>
                                                                            <td>13.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Lunch (basic)</td>
                                                                            <td>12.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Camera roll </td>
                                                                            <td>4.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Blank video tape </td>
                                                                            <td>8.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Pair of sneakers </td>
                                                                            <td>30.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Newspaper</td>
                                                                            <td>0.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Public internet booth or cybercafes (1 hour)</td>
                                                                            <td>1.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Train Cusco - Machu Picchu (return)</td>
                                                                            <td>30( backpakers) - 70 (Autovagon)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Bus (one way)</td>
                                                                            <td>5.00</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Flight to Cusco (return) </td>
                                                                            <td>140.00</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading100">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse100" aria-expanded="false" aria-controls="collapse100">
															<br>
															¿Qué tan seguros son los cajeros automáticos en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse100" class="collapse" role="tabpanel" aria-labelledby="heading100" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>En general, usar los cajeros automáticos aquí está bien, sin embargo, NO recomendamos usarlos de noche por razones obvias. Recomendamos usar cajeros automáticos de los bancos más grandes de Perú y no los cajeros automáticos pequeños en las estaciones de servicio, etc., ya que tienden a tener cargos más altos. Los bancos más grandes y seguros en Perú son Scotiabank, Interbank, BCP, Banco de la Nación, BBVA.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading101">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse101" aria-expanded="false" aria-controls="collapse101">
															<br>
															¿Tendré algún problema con la altitud en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse101" class="collapse" role="tabpanel" aria-labelledby="heading100" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>En general, se recomienda darse un día o 2 para aclimatarse antes de hacer cualquier caminata en altitud. También se recomienda tomar algunas pastillas para el mal de altura, masticar hojas de coca y beber té de coca ... nuestros guías lo ayudarán con cualquier problema. Arequipa, Puno y Cusco son los 3 lugares donde la altitud podría afectar a algunos viajeros. Recomendamos Arequipa como un lugar para aclimatarse en el camino a Cusco y Puno.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading102">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse102" aria-expanded="false" aria-controls="collapse102">
															<br>
															¿Necesito alguna vacuna para Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse102" class="collapse" role="tabpanel" aria-labelledby="heading102" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>Las vacunas no son necesarias para ninguna parte del Perú. Sin embargo, si planea visitar la selva amazónica, es posible que necesite algunas vacunas, así que consulte a su médico local. Recomendamos vacunarse contra la fiebre amarilla si viaja a Bolivia, ya que es un requisito si va a la selva boliviana. No lo necesita si solo viaja a La Paz y Uyuni.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading103">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse103" aria-expanded="false" aria-controls="collapse103">
															<br>
															¿Funcionará mi teléfono móvil en Perú?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse103" class="collapse" role="tabpanel" aria-labelledby="heading103" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>La cobertura telefónica e internet es bastante buena en las ciudades e incluso en algunas áreas rurales, como Machu Picchu, aunque no hay cobertura telefónica en el viaje en tren a Machu Picchu. La mayoría de los teléfonos inteligentes extranjeros funcionan en la región si tiene un plan de llamadas y datos internacionales. Si su teléfono está desbloqueado, puede comprar una tarjeta SIM local que funcionará mientras viaja.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading104">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse104" aria-expanded="false" aria-controls="collapse104">
															<br>
															¿Cuánto debo dar propina?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse104" class="collapse" role="tabpanel" aria-labelledby="heading104" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p> Los consejos son totalmente a su discreción. Todos nuestros guías y conductores reciben un pago justo, por lo que no es un requisito dar propinas, aunque siempre es bienvenido. Es mejor dejar una propina en efectivo. </p>
                                                                <h4> Propinas en restaurantes: </h4>
                                                                <p> Puede dar una propina del 10%, pero es totalmente discrecional. Las tarjetas de crédito y los cheques de viajero son ampliamente aceptados en los restaurantes más inteligentes. Las propinas ya están incluidas en el precio si la comida es parte de su programa. </p>
                                                                <h4> Propinas para excursiones guiadas por día: </h4>
                                                                <p> - Para un grupo de 2 pasajeros: $ 20br
                                                                    <br> - Para un conductor por día para un grupo de 2 pasajeros: $ 10
                                                                    <br> - Para una guía por día para un grupo de 4+ pasajeros: $ 20- $ 40
                                                                    <br> - Para el conductor por día para un grupo de más de 4 pasajeros: $ 10- $ 20
                                                                </p>
                                                                <h4> Propinas para acampar por día: </h4>
                                                                <p> - Para una guía para un grupo de 2 pasajeros: $ 20
                                                                    <br> - Para un cocinero para un grupo de 2 pasajeros: $ 10
                                                                    <br> - Por cada miembro del personal de apoyo (porteadores) para un grupo de 2 pasajeros: $ 5
                                                                    <br> - Para una guía por día para un grupo de más de 4 pasajeros: $ 40
                                                                    <br> - Para cocinar por día para un grupo de 4 pasajeros +: $ 15
                                                                    <br> - Por cada miembro del personal de apoyo (porteadores) para un grupo de más de 4 pasajeros: $ 5
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading105">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse105" aria-expanded="false" aria-controls="collapse105">
															<br>
															¿Necesito un seguro de viaje? ¿Necesito un seguro de viaje?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse105" class="collapse" role="tabpanel" aria-labelledby="heading105" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>El seguro de viaje no suele ser un requisito, pero le recomendamos encarecidamente que tenga un seguro. Solicitaremos un comprobante de seguro médico para algunas actividades específicas (por ejemplo, caminatas de lodge a lodge) que incluye cobertura de evacuación si se encuentra en una ubicación remota. Recomendamos encarecidamente que viaje con un seguro independientemente de sus actividades, para cubrir las cancelaciones de vuelos, el robo, la pérdida de equipaje y la cancelación general por su parte en caso de que no pueda realizar su viaje debido a una enfermedad o circunstancias imprevistas. También debe cubrirlo por posibles gastos médicos incurridos durante el viaje en caso de enfermedad o accidente. También podemos ayudarlo con un seguro de viaje, deje que su especialista en viajes lo necesite.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading106">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse106" aria-expanded="false" aria-controls="collapse106">
															<br>
															¿Qué debo empacar?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse106" class="collapse" role="tabpanel" aria-labelledby="heading106" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p> Dada la diversa geografía del Perú, es probable que experimente diferentes climas en cualquier época del año en que viaje. Recomendamos encarecidamente las capas de salmuera, lo que facilita el manejo de las temperaturas cambiantes, especialmente en los Andes.
                                                                </p>
                                                                <p> <strong> Algunas sugerencias </strong> </p>
                                                                <ul>
                                                                    <li> Zapatillas cómodas o botas de montaña </li>
                                                                    <li> Camisetas de manga corta y larga </li>
                                                                    <li> Equipo de lluvia </li>
                                                                    <li> Una chaqueta de lana </li>
                                                                    <li> Jeans o pantalones casuales </li>
                                                                    <li> Cámara </li>
                                                                    <li> Mochila </li>
                                                                    <li> Repelente de insectos, protector labial y bloqueador solar </li>
                                                                    <li> Binoculares </li>
                                                                    <li> Medicina personal </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading107">
                                                    <h5 class="text-uppercase mb-0 py-1">
														<a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse107" aria-expanded="false" aria-controls="collapse107">
															<br>
															¿Qué moneda necesito traer?
														</a>
													</h5>
                                                </div>
                                                <div id="collapse107" class="collapse" role="tabpanel" aria-labelledby="heading107" data-parent="#accordionEx23">
                                                    <div class="card-body">
                                                        <div class="row my-4">
                                                            <div class="col-md-12">
                                                                <p>El sol peruano es la moneda del Perú. Aunque los dólares estadounidenses a menudo se aceptan en hoteles, tiendas y restaurantes más grandes en ciudades más grandes y destinos turísticos como Cusco, no siempre se aceptan. Como tal, le recomendamos que viaje siempre con moneda local, especialmente para compras más pequeñas en tiendas, mercados y restaurantes locales.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Accordion wrapper-->
                                        </div>
                                    </div>
                                    <div id="separador"></div>
                                </div>
                        </article>
                        </div>
                    </div>
                </div>
        </section>
        <footer id="footer">
            <div class="container footer-container">
                <div class="row text-center">

                    <div class='col-sm-6 col-md-4'>
                        <div id="recent-posts-3" class="footer_widget widget widget_recent_entries">
                            <h5 class="widget-title">Consulta</h5>
                            <div id="separadordjm2"></div>
                            <ul>
								<li><a href="nosotros.html">Nosotros</a></li>
								<li><a href="testimonios.html">testimonios</a></li>
                                <li><a href="terminos-y-condiciones.html">Términos & Condiciones</a></li>
                                <li><a href="metodos-de-pago.html">opciones de Pago</a></li>
                                <li><a href="preguntas-frecuentes.html">Preguntas Frecuentes</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class='col-sm-6 col-md-4 footer-column-4'>
                        <div id="text-3" class="footer_widget widget widget_text">
                            <h5 class="widget-title">Contacto</h5>
                            <div id="separadordjm2"></div>
                            <div class="textwidget"><i class="fa fa-envelope"></i> operaciones@andeanexclusivetours.com
                                <br>
                                <i class="fa fa-mobile"></i> +51 979 721 194
                                <br>
                                <i class="fa fa-phone"></i> +51 084 242791
                                <br>
                                <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6 col-md-4 footer-column-4'>
                        <div id="search-4" class="footer_widget widget widget_search">
                            <h5 class="widget-title">Estar en contacto</h5>
                            <div id="separadordjm2"></div>
                        </div>
                        <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                            <div class="social-links">
                                <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                                <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                                <a href="https://n9.cl/cjx4" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                                <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                                <a href="https://www.pinterest.com/andeanexcsive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="widget">
                                    <p>Copyright 2019 &copy; Andean Exclusive Tours | Todos los derechos reervados.                  | Diseñado por <a href="https://www.djm2.net" id="afoot" target="_blank">DJM2</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
        <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
        <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
        <script type='text/javascript' src='js/scripts.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>