<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tour in Puno-Perú </title>
		<meta charset="utf-8">
        <meta name="Title" content=" Tours in Puno - Perú by Andean Exclusive Tours.">
        <meta name="description" content="Puno is a city in southeastern Peru, capital of the department of Puno, located on the shores of Lake Titicaca. Puno is the main city of the border live in southern Peru. Puno is an important mining and port city in southern Peru and Titicaca basin.">
        <meta property="og:type" content="article" />
<meta property="og:url" content="http://andeanexclusivetours.com/arequipa.html" />
    <meta property="og:image" content="http://andeanexclusivetours.com/images/IMG_9960.JPG" />
        <meta name="author" content="David Miranda Miranda">
        <meta name="keywords" content="machu picchu trek, trek machu picchu, trek to machu picchu, machu picchu treks, treks to machu picchu">
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/menu.css">
        <script src="js/menu.js"></script>
        <script src="js/menu2.js"></script>
        <script src="js/menu3.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
        <!----------------Google Analitycs AET------------------------>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-80448881-1', 'auto');  ga('send', 'pageview');
	</script>
	<!----------------Fin Google Analitycs  AET------------------------>
		<script>
		$(document).ready(function(){
			$('body').fadeIn(1200);
			$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b8ef579afc2c34e96e837ca/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
	</head>
	<body onLoad="reloj()" style="display:none">
<!--==============================header=================================-->
	<header id="cabeza">
        <!--------------Menu responsive-------------------------->

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#"><img src="images/logo.png" id="logo"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="fondomenu">
        <a class="nav-link index" href="index.html" id="menutext"> INDEX <span class="sr-only"></span></a>
      </li>
      <img src="images/separador.PNG" id="imghead">
      <li class="nav-item" id="fondomenu">
        <a class="nav-link" href="index-1.html" id="menutext"> PLACES TO GO</a>
      </li>
      <img src="images/separador.PNG" id="imghead">
      <li class="nav-item" id="fondomenu">
        <a class="nav-link disabled" href="#" id="menutext"> PROGRAMS</a>
      </li>
      <img src="images/separador.PNG" id="imghead">
      <li class="nav-item" id="fondomenu">
        <a class="nav-link disabled" href="Blog/andeanblog.html" id="menutext"> BLOG</a>
      </li>
      <img src="images/separador.PNG" id="imghead">
      <li class="nav-item" id="fondomenu">
        <a class="nav-link disabled" href="index-2.html" id="menutext"> ABOUT US</a>
      </li>
      <img src="images/separador.PNG" id="imghead">
      <li class="nav-item" id="fondomenu">
        <a class="nav-link disabled" href="index-4.html" id="menutext"> CONTACT US</a>
      </li>
    </ul>
    <center><div id="idiomas">
     <a href="puno - español.html"><img src="images/españa.fw.png" id="imgidioma"></a>&nbsp;
     <a href="#"><img src="images/ingles.fw.png" id="imgidioma"></a>
     <img src="images/separador.PNG" id="imghead">&nbsp;
     <a href="https://www.facebook.com/AndeanExclusiveTours?ref=hl" target="_blank"><img src="images/facebook-icon.png"></a>&nbsp;&nbsp;
	 <a href="https://plus.google.com/u/1/105692759598706296803" target="_blank"><img src="images/google-plus-squared.png"></a>
    </div></center>
  </div> </nav>
  <center><h2 id="titulos">PUNO</h2></center>
		</header>
<!--==============================Content=================================-->
		<div class="content"><div class="ic"></div>
			<div class="container_12">
				<div class="grid_7">
					<h3><u>Puno</u></h3>
					<div class="blog">
						<time datetime="2014-10-01">3D<span>/2N</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1">Suggest Itinerary</div>
						</div>
Puno is a city in southeastern Peru, capital of the department of Puno, located on the shores of Lake Titicaca. Puno is the main city of the border live in southern Peru. Puno is an important mining and port city in southern Peru and Titicaca basin.<br><br>
						<img src="images/IMG_9960.JPG" alt="Chola dando la bienvenida Andean Exclusive Tours" class="img_inner"><br><br>
						<p><center><font color="#f3aa29">Day 01: Fligth to Juliaca – Sillustani –Puno</font></center>
Upon  your arrive to Juliaca we will be weaiting for you to drive you to Puno. In the way we will visit Sillustani a sacrey Colla´s cementery, localed to the north of Puno, next  to the beautifull Umayo lagoon and close to the village of Hatun Colla, we will appreciate  the chullpas or funerary enclosures, constructed  of polished stones to keep the mummies of their ancestor.<br><strong> Overnight in Puno.</strong>
 </p><center><font color="#f3aa29"> Day 02: Private boat to Taquile and Uros island.</font></center>
<p>Overnight in Puno. Day 02: Private boat to Taquile and Uros island.
We wiil b ard our private lunch  to navigate in the mystical origin of the Andean civilization, we will  the Uros floating  reed islands and hike in the terraces of Taquile, a memorable day experiencing  the community life and their hospitality in the Titikaka lake.<br><strong>Overnight at Islander´s house.</strong></p>
					</div><br><br>

						<img src="images/mascaras.jpg" alt="" class="img_inner"><br><br>
						<p><center><font color="#f3aa29">Day 03: Boat to charcas to Copacabana.</font></center>
In the morning we will have the option to hike in the islad from the house where we stayed overnight to the other end of the island. Afterward we navigate to the Aymara peninsula of Charcas. We will go up to the viewpoint to appreciate the beautifull  landscape  with a panoramic view of the lake. In Charcas our private car will be eaiting to drivo to Copacabana.<br><strong>Overnigth in copacabana </strong></p>

<font color="#f3aa29"><strong>More options or questions to:</font><br>
<a href="mailto:reservas@andeanexclusivetours.com">- reservas@andeanexclusivetours.com</a><br>
	<a href="mailto:operaciones@andeanexclusivetours.com">- operaciones@andeanexclusivetours.com</strong></a>
<!----------sociales-------------------------->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="http://andeanexclusivetours.com/puno.html" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div><br><br>
<!--------------------------------Twitter---------------------------->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://andeanexclusivetours.com/puno.html" data-via="operaci84578684">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-----------------------------comentarios------------------------------------>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div class="fb-comments" data-href="http://andeanexclusivetours.com/puno.html" data-numposts="5"></div>
<!-------------fin sociales-------------------------->
				</div>
				<div class="grid_3 prefix_1">
					<h3 class="head1">Cities: </h3>
					<ul class="list">
						<li><a href="cusco.html">Cusco</a></li>
						<li><a href="arequipa.html">Arequipa</a></li>
						<li><a href="limaa.html">Lima </a></li>
						<li><a href="chiclayo.html">Chiclayo/ Trujillo </a></li>
						<li><a href="huaraz.html">Huaraz </a></li>
						<li><a href="iquitos.html">Iquitos </a></li>
						<li><a href="manu.html">Manu </a></li>
						<li><a href="paracas.html">Paracas </a></li>
						<li><a href="puerto.html">Puerto Maldonado </a></li>
                        <li style="color:#5F9EA0"><strong>Puno</strong></li>
					</ul>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer id="pieandean">
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="https://www.facebook.com/AndeanExclusiveTours?ref=hl" target="_blank" class="fa fa-facebook"></a>
						<a href="https://twitter.com/ReservasAndean" target="_blank" class="fa fa-twitter"></a>
						<a href="http://www.pinterest.com/andeanexcsive/" target="_blank" class="fa fa-pinterest"></a>
                        <a href="https://www.tripadvisor.com" target="_blank" class="fa fa-tripadvisor"></a>
					</div>
					<div class="copy">
						<p>Andean Exclusive Tours (c) 2014 || "All your trip organize and make it for you!"</p>
                         <p>Contact Mails:  <i class="fa fa-envelope" style="margin-top:5px"></i> reservas@andeanexclusivetours.com || <i class="fa fa-envelope" style="margin-top:5px"></i> operaciones@andeanexclusivetours.com</p>
                      <p>Contact Phones:  <i class="fa fa-mobile" style="margin-top:5px"></i> +51 979 721 194 || <i class="fa fa-phone" style="margin-top:5px"></i> +51 084 242791</p>
                     
                        <p>Designed by <a href="http://djm2.net/creatupaginaweb.html">"DJM2".<img src="images/log.png" width="17" height="11"></a></p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
