<!DOCTYPE html>
<html lang="en-US" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Find what our customer says about Andean Exclusive Tours</title>
	<meta name="keywords" content="Experiences in Perú, opinions, Lima, Cusco, Exclusive, luxury, testimonials" />
    <meta property="og:description" content="opinions from customer of Andean Exclusive." />
    <meta property="og:url" content="https://andeanexclusive.com/testimonials.html">
    <meta property="og:title" content="Find what our customer says about Andean Exclusive Tours">
    <meta property="og:type" content="webside">
    <meta property="og:image" content="https://www.andeanexclusive.com/img/testimonials.jpg" />
    <meta name="author" content="Web Masters DJM2" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='styles/bootstrap.minbb49.css' type='text/css' media='all' />
    <link rel='stylesheet' href='styles/js_composer.min5243.css' type='text/css' media='all' />
    <link rel="icon" type="image/png" href="img/logoico.png">
    <link rel="stylesheet" type="text/css" href="styles/estilo.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <script type='text/javascript' src='js/jquery4a5f.js'></script>
    <script type='text/javascript' src='js/mediaelement-and-player.min45a0.js'></script>
</head>

<body class="home page-template-default page page-id-44 wpb-js-composer js-comp-ver-5.4.5 vc_responsive">
 
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-wrapper">
                            <div class="site-branding">
                                <a href="index.html" rel="home" class="logo-text-link"><img src="img/andean-exclusive-logo.png" id="logo"></a>
                            </div>
                            <nav class="main-nav">
                                <ul class="one-page-menu">
                                    <li class='menu-item'><a href="index.html">Home</a></li>
                                    <li class='menu-item'><a href="experiences.html">Tours in demand</a></li>
                                    <li class='menu-item'><a href="around-peru.php">Around Perú</a></li>
                                    <li class='menu-item'><a href="trekkings-for-peru.php">Trekkings</a></li>
                                    <li class='menu-item'><a href='blog.html'>Blog</a></li>
                                    <li id="display" class="menu-has-children">
                                        <a>
                                            <button type="button" class="btn botondjm">Language <i class="fa fa-chevron-down"></i></button>
                                        </a>
                                        <ul>
                                            <li><a href="testimonios.html">Español</a></li>
                                            <li><a>Ingles</a></li>
                                        </ul>
                                    </li>
									<li id="wasanum" class='menu-item'><a href='https://bit.ly/3kYXpXr' target="_blank">+51 979 721 194</a></li>
                                    <li id="display2" class="menu-has-children">
                                        <a href="testimonios.html"><img src="img/españa.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><img src="img/ingles.png"></a>
                                    </li>
                                </ul>
                                <a href="javascript:;" id="mobile-menu"><span></span></a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <section class="section-content no-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="blog-item blog-single">
                            <div class="entry-excerpt">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" data-onepage-title="Home" data-onepage-slug="home" class="vc_row wpb_row vc_row-fluid testimonials vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-content-middle vc_row-flex">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461317698190">
                                            <div class="wpb_wrapper">
                                                <div class='carousel-headings '>
                                                    <div class='swiper-container'>
                                                        <div class='swiper-wrapper'>
                                                            <div class='swiper-slide'>
                                                                <div class='cover-text ph5 text-light text-center pv8 pvb0'>
                                                                    <h2> WHAT OUR CUSTOMER SAY</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>
								 <div data-onepage-title="Services" data-onepage-slug="services" class="vc_row wpb_row vc_row-fluid vc_custom_1461248392126">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1461227943574">
                                            <div class="wpb_wrapper">
                                                <div class='heading  text-center '>
													<div id="separador"></div>
                                                    <h3>Testimonials</h3>
													<div id="separadordjm"></div>
												</div>
											</div>
										</div>
									 </div>
									 <div id="separador"></div>
									 <div class="col-lg-2"></div>
									 <div class="col-lg-8 text-center">
										 <strong>Emmanuel Burgio - President Blue Parallel. Inc.</strong>  
										 <div class='stars'><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
										 </div>
										 <div class='tcontent'>“On behalf of all Blue Parallel team, I would like to thank you a million for all the hard and excellent work over the past 12 years . It has been a real pleasure to work with you and we always felt that we could count on you regardless of the day / time and regardless of how challenging the request was. We will miss you a lot as we almost felt you were part of our day -to day team. We wish you the best of luck, and we hope that our paths will again cross in the future.”                                                          
										 <div id="separador"></div>
										 <div id="separador"></div>
										  <strong>Ann Alvarado</strong>
										 <div id="circulo2"></div>
										 <div class='stars'><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
										 </div>
										 <div class='tcontent'>“Thank you very much  for you attention. We enjoy a lot theompany of Andean Exclusive staff. I hope to see you agains to soon in my next visit to Perú.”
										 </div>
                                                        
										 <div id="separador"></div>
										 <div id="separador"></div>
										 <strong>The Anderson Family</strong>
										 <div class='stars'><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
										 </div>
										 <div class='tcontent'>“Hello Carmen:
											 <br> Thank you for our delicious lunch with you. We enjoyed it very much and also our weaving visit and guinea pig !! You and your mother are twins!! I just wanted to confirm we leave lake titilaka hotel with octavio tomorrow at 07.00am. Thank you and until next time”
										 </div>
                                                        
										 <div id="separador"></div>
										 <div id="separador"></div>
										 <strong>Travel Planner in Aracari</strong>
										 <div id="circulo"></div>
										 <div class='stars'>
											 <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
										 </div>
										 <div class='tcontent'>“Dear Carmen, Marleny, Luisa and Raquel:<br> I hope you are good I just wanted to tell you from the date my load left as a Travel Planner in Aracari. Keep in touch with the company and I hope we can find again in the future It has been a pleasure working together with Andean Exclusive team and I thank you very much for your professionalism, patience, support and dedication. I leave my contact information”
										 </div>	
										 <div id="separador"></div>
										 
									 </div>
									 <div class="col-lg-2"></div>
								</div>
								<div class="vc_row-full-width vc_clearfix"></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>            
        </section>
        <footer id="footer">
            <div class="container footer-container">
                <div class="row text-center">

                    <div class='col-sm-6 col-md-4'>
                        <div id="recent-posts-3" class="footer_widget widget widget_recent_entries">
                            <h5 class="widget-title">Query</h5>
                            <div id="separadordjm2"></div>
                            <ul>
                                <li><a href="terms-conditions-aet.html">Terms & Conditions</a></li>
                                <li><a href="payments.html">Payment Options</a></li>
                                <li><a href="faqs.html">FAQS</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="about.html"></a>About Us</li>
                            </ul>
                        </div>
                    </div>
					<div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="text-3" class="footer_widget widget widget_text">
                        <h5 class="widget-title">Contact</h5>
                        <div id="separadordjm2"></div>
                        <div class="textwidget">
							<i class="fa fa-envelope"></i><a style="color: rgba(248, 248, 248, 0.5)" href="mailto:operaciones@andeanexclusive.com"> operaciones@andeanexclusive.com</a>
                            <br>
                            <i class="fa fa-mobile"></i> <a href='https://bit.ly/3kYXpXr' target="_blank" style="color: rgba(248, 248, 248, 0.5)">+51 979 721 194</a> 
                            <br>
                            <i class="fa fa-phone"></i> +51 084 242791
                            <br>
                            <i class="fa fa-map-marker"></i> Balconcillo Alto c-6 Cusco - Perú
                        </div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 footer-column-4'>
                    <div id="search-4" class="footer_widget widget widget_search">
                        <h5 class="widget-title">Get in Touch</h5>
                        <div id="separadordjm2"></div>
                    </div>
                    <div id="tt_sociallinkswidget-4" class="footer_widget widget widget_social">
                        <div class="social-links">
                            <a href="https://www.facebook.com/AndeanExclusiveTours" target="_blank"><i  class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/ReservasAndean" target="_blank"><i  class="fa fa-twitter fa-2x"></i></a>
                            <a href="https://n9.cl/cjx4" target="_blank"><i  class="fa fa-tripadvisor fa-2x"></i></a>
                            <a href="https://www.instagram.com/andean.exclusive/" target="_blank"><i  class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://www.pinterest.com/andeanexclusive/" target="_blank"><i  class="fa fa-pinterest fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="widget">
                                <p>Copyright 2019 &copy; Andean Exclusive Tours | All Rights Reserved | Designed by <a href="https://www.facebook.com/DjmWebMaster" id="afoot" target="_blank">DJM2</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <script type='text/javascript' src='js/swiper.minbb49.js?ver=5.2.2'></script>
        <script type='text/javascript' src='js/isotope.pkgd.min5243.js?ver=5.4.5'></script>
        <script type='text/javascript' src='js/scripts.js'></script>

</body>

</html>